streamlit
pandas
spacy==3.7.4
thinc==8.2.3
numpy<2.0.0
matplotlib
pdfplumber
scikit-learn
PyMuPDF
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl